@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>ID1=@Model.ID1</p>
    <p>ID21=@Model.ID21</p>
    <p>ID22=@Model.ID22</p>
    <p>ID31=@Model.ID31</p>
    <p>ID32=@Model.ID32</p>
</div>
